@font-face {
  font-family: "main";
  src: url(../font/sugarmagicpersonaluseonly-jemyo.otf);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0;
}
.inner {
  position: relative;
  min-width: 1200px;
  max-width: 1600px;
  max-height: 800px;
  color: white;
  margin: 25px auto;
  background-color: rgba(29, 29, 29, 0.705);
  width: 75%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}
/* 영화 정보 */
.movie-info {
  height: 400px;
  display: flex;
  flex-direction: row;
}

.movie-info-left {
  width: 33%;
}
.movie-poster {
  width: 100%;
  max-width: 200px;
  margin: 50px 80px 0 auto;
  display: flex;
}

.movie-info-middle {
  display: flex;
  flex-direction: column;
  width: 34%;
}
.movie-summary {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0 50px;
  font-size: 16px;
  gap: 10px;
}

.movie-info-right {
  width: 33%;
}
.movie-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 50px auto 0 30px;
}

/* 영화 캐스트 및 리뷰  */
.movie-castReviews {
  position: relative;
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
/* 영화 캐스트 */
.movie-castReviews-cast {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.cast-header > h2 {
  display: inline-block;
}
.cast-list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
}
.cast-card {
  width: calc(100% / 4.24);
  display: flex;
  flex-direction: row;
  gap: 25px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.644);
  white-space: nowrap;
  overflow: hidden;
}
.cast-ProfileImage {
  width: 50px;
  height: 50px;
}
.profileImage {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}
.cast-producer {
  color: rgb(153, 153, 153);
  font-size: 14px;
}
.cast-actor {
  color: rgb(153, 153, 153);
  font-size: 14px;
}
.cast-Info {
  display: flex;
  flex-direction: column;
}
/* 영화 리뷰 */
.movie-castReviews-reviews {
  display: flex;
  flex-direction: column;
  height: 100%; /* 높이 설정 */
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none;
  background-color: black;
  padding: 30px;
}
.reviews-header {
  margin-bottom: 10px;
}
.reviews-header h2 {
  font-size: 30px;
  margin-bottom: 10px;
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding: 1rem;
}
/* movie- */

/* comment */

.review-list {
  width: 100%;
}
#review-form {
  width: 100%;
  height: 250px;
  background-color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  border: 1px solid gray;
}

#user-name {
  background-color: transparent;
  width: 100%;
  height: 20px;
  border: none;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 20px;
  padding: 20px;
}

#review-comment {
  width: 100%;
  height: 230px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  padding: 20px;
}

.review-button {
  width: 90px;
  height: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: rgb(212, 192, 255);
  cursor: grab;
}
.review-cards-title {
  font-size: 30px;
}
.review-card {
  width: 100%;
  height: 250px;
  background-color: black;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}
.review-card-id {
  background-color: transparent;
  width: 100%;
  height: 20px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
}
.review-card-content {
  width: 100%;
  height: 230px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
  padding: 20px;
}
.review-card button {
  width: 90px;
  height: 30px;
  background-color: rgb(212, 192, 255);
}
.review-modify-button {
  position: absolute;
  right: 110px;
  bottom: 10px;
  gap: 30px;
  cursor: grab;
}
.review-delete-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  gap: 30px;
  cursor: grab;
}
.reviews-header-2 {
  margin-top: 30px;
  margin-bottom: 30px;

  padding-top: 30px;
}
.reviews-header-2 h4 {
  font-size: 30px;
  background-color: rgb(33, 33, 33);
  text-align: center;
  padding: 1rem;
}

/* input, textarea 클릭시 테두리영역 없애기 */
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

.movie-castReviews-reviews::-webkit-scrollbar {
  display: none;
}

.make-review-movie-review {
  color: white;
  font-size: 22px;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 1px solid gray;
  padding: 1rem;
  font-family: "main";
}
.make-review-movie-review h2:nth-of-type(1) {
  color: rgb(255, 166, 181);
  text-align: center;
  width: 50%;
  border-right: 1px solid gray;
  cursor: grab;
}
.make-review-movie-review h2:nth-of-type(2) {
  color: rgb(255, 215, 174);
  text-align: center;
  width: 50%;
  cursor: grab;
}
.movie-similar-genre {
  width: 100%;
  height: 100%;
}
.genre-list {
  display: flex;
  flex-wrap: wrap;
}
.genre-header h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.similar-poster {
  width: 150px;
  height: 200px;
  margin-right: 1rem;
}
.similar-poster img {
  width: 100%;
  height: 100%;
}
.similar-movie-data {
  text-align: center;
  margin-top: 1rem;
}
.movie-similar-genre {
  overflow: scroll;
}
.movie-similar-genre::-webkit-scrollbar {
  display: none;
}
.similar-title {
  width: 150px;
  height: 30px;
  overflow: scroll;
}
.similar-title::-webkit-scrollbar {
  display: none;
}
.ott-list{
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
  justify-content: flex-start;
}
.ott-card{
  width: calc(100% / 3.2);
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  border-bottom: 1px solid rgba(90, 89, 89, 0.644);
  white-space: nowrap;
  overflow: hidden;
}
.ott-card-provider{
  margin: auto auto auto 10px;
}
.ott-card-providerImage {
  width: 30%;
}
.providerImage{
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}
.movie-like {
  position:absolute;
  top:5px;
  right:5px;
  width:30px;
  height:30px;
  z-index:1;
  cursor:pointer;
  font-size:30px;
}
.movie-like.curr {
  color:yellow;
}
/* 헤더 */
.header {
  max-width: 1600px;
  min-width: 1100px;
  font-family: "main";
  margin: 25px 250px;
  font-size: 2.2rem;
  /* color: rgb(160, 177, 255); */
  display: flex;
}

.header-home-container {
  width: 100px;
}

.header-home-container h3 {
  color: rgb(255, 161, 177);
}

.header-home-container h3 span {
  color: rgb(255, 81, 220);
}
.star-rating{
  user-select: none;
}
.star{
  font-size: 3rem;
  color: #ff9800;
  background-color: unset;
  border: none;
}
.star:hover {
  cursor: pointer;
}
