ul {
  list-style: none; /* 마커(불릿)를 제거합니다. */
  padding: 0; /* 기본 패딩을 제거합니다. */
  margin: 0; /* 기본 마진을 제거합니다. */
}
.parent{
  color: white;
  margin: 100px auto 100px auto;
  background-color: rgba(0, 0, 0, 0.743);
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Header {
  height: 150px;
}
.movie-info {
  height: 400px;

  display: flex;
  flex-direction: row;
}
.movie-castReviews {
  height: 1000px;
  display: flex;
  flex-direction: column;
}

/* movie-info 왼쪽 공간  */
.movie-info-left {
  width: 33%;
}
.movie-poster {
  width: 100%; 
  max-width: 200px; 
  margin: 40px 80px 0px auto; 
  display: flex; 
}
/* movie-info 가운데 공간 */
.movie-info-middle {
  display: flex;
  flex-direction: column;
  width: 34%;
}
.movie-summary {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0px 50px;
  font-size: 16px;
  gap: 10px;
}
/* movie-info 오른쪽 공간 */
.movie-info-right {
  width: 33%;
}
.movie-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 40px auto 0px 30px;
}
/* movie-castReives 감독/출연  */
.movie-castReviews-cast {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 100px 300px 0px 300px;
}
.cast-List {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  padding: 0;
}
.cast-Card {
    display: flex;
    flex-direction: row;
}
.cast-ProfileImage{
    background-color: beige;
}
.cast-Info{
    display: flex;
    flex-direction: column;
}
.movie-castReviews-reviews {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 20px 300px 20px 300px;
}
.reviews-Header {
}
/* movie- */