/* hamburger css */
.hamburger {
  width: 50px;
  position: fixed;
  left: 30px;
  z-index: 1;
}
.hamburger img {
  width: 36px;
  cursor: grab;
}
.hamburger-menu {
  width: 300px;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(24, 24, 24);
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
.hamburger-menu-open {
  transform: translateX(0%);
}
.hamburger-menu h2 {
  width: 100%;
  margin-top: 100px;
  background: linear-gradient(to left, rgb(255, 216, 247), rgb(179, 144, 255));
  text-align: center;
  font-family: "main";
  color: transparent;
  -webkit-background-clip: text;
}
.hamburger-nav {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.hamburger-nav li {
  color: white;
  font-size: 20px;
  font-family: "main";
  line-height: 100px;
}
#menu-close-button {
  width: 40px;
  height: 40px;
  position: fixed;
  left: 240px;
  top: 20px;
}
#menu-close-button img {
  width: 100%;
  height: 100%;
  cursor: grab;
}
