<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 테스트 페이지</title>
  <script type="module" src="../assets/js/join.js"></script>
</head>
<body>
  <form id="join-box">
    <input type="text" id="join-id" placeholder="아이디를 입력해주세요.">    
    <input type="text" id="join-pw" placeholder="비밀번호를 입력해주세요.">
    <button type="button" id="join-btn">회원가입</button>
    <a type="button" href="./member_login.html">로그인</a>
  </form>
</body>
</html>