<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 임시 페이지</title>
  <script type="module" src="../assets/js/login.js"></script>
  <style>
    body {background:#111;}
  </style>
</head>
<body>
    <div id="login-wrap">
      <form id="login-box">
        <input type="text" id="login-id">
        <input type="text" id="login-pw">
        <button type="button" id="login-btn">로그인</button>
        <a href="./member_signup.html">회원가입</a>
      </form>
    </div>
</body>
</html>