<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 테스트 페이지</title>
  <link rel="stylesheet" href="../assets/css/common.css">
  <link rel="stylesheet" href="../assets/css/signIn.css">
  <script type="module" src="../assets/js/join.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="header">
      <div class="header-home-container">
        <a href="/index.html">
          <h3>Moview</h3>
        </a>
      </div>
    </div>
    <div class="logo">
      <img src="../assets/img/logo.png" alt="logo">
    </div>
    <div class="login-wrapper">
      <div id="login-wrap">
        <h4 class="login-logo">
          <span style="color:rgba(255, 192, 203, 1);">S</span>
          <span style="color:rgba(255, 141, 232, 1);">I</span>
          <span style="color:rgba(160, 177, 255, 1);">G</span>
          <span style="color:rgba(212, 192, 255, 1);">N</span>
          <span style="color:rgba(255, 192, 203, 1); margin-left:20px">U</span>
          <span style="color:rgba(255, 141, 232, 1);">P</span>

        </h4>
        <form id="login-box">
          <span class="id-inner">
            <label for="join-id">ID</label>
            <input type="text" id="join-id" placeholder="아이디를 입력해주세요.">
          </span>
          <span class="pw-inner">
            <label for="join-pw">PW</label>
            <input type="text" id="join-pw" placeholder="비밀번호를 입력해주세요.">
          </span>
          <div class="btn-area">
            <button type="button" id="join-btn">회원가입</button>
            <a id="header-btn-login" href="./member_login.html">LOGIN</a>  
          </div>
          

        </form>
      </div>
    </div>
  </div>

</body>

</html>