<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 임시 페이지</title>
  <link rel="stylesheet" href="../assets/css/signIn.css">
  <link rel="stylesheet" href="../assets/css/common.css">
  <script type="module" src="../assets/js/login.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="header-home-container">
        <a href="/index.html">
          <h3>Moview</h3>
        </a>
      </div>
    </div>
    <div class="logo">
      <img src="../assets/img/logo.png" alt="logo">
    </div>
    <div class="login-wrapper">
      <div id="login-wrap">
        <h4 class="login-logo">
          <span style="color:rgba(255, 192, 203, 1);">L</span>
          <span style="color:rgba(255, 141, 232, 1);">O</span>
          <span style="color:rgba(160, 177, 255, 1);">G</span>
          <span style="color:rgba(212, 192, 255, 1);">I</span>
          <span style="color:rgba(255, 192, 203, 1);">N</span>
        </h4>
        <form id="login-box">
          <span class="id-inner">
            <label for="login-id">ID</label>
            <input type="text" id="login-id" placeholder="아이디를 입력해주세요.">
          </span>
          <span class="pw-inner">
            <label for="login-pw">PW</label>
            <input type="text" id="login-pw" placeholder="비밀번호를 입력해주세요.">
          </span>
          <div class="btn-area">
            <button type="button" id="login-btn">로그인</button>
            <a href="./member_signup.html">SIGNUP</a>            
          </div>
          

        </form>
      </div>
    </div>
  </div>
</body>

</html>