<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/myPage.css">
</head>


<body>
    <div class="header">
        <div class="header-home-container">
            <a href="/index.html">
                <h3>Mo<span>view</span></h3>
            </a>
        </div>
    </div>

    <div class="activity">
        <div class="activity-header">
            <div class="activity-header-title">
                <h3>My <span>Activities</span></h3>
            </div>
            <ul class="activity-header-type">
                <!-- <li class="activity-tab like-box">
                    <p>Like</p>
                </li> -->
                <li class="activity-tab recent-box">
                    <p>Recent</p>
                </li>
            </ul>
        </div>
    </div>


    <script type="module" src="../assets/js/myPage.js"></script>
</body>

</html>