<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/myPage_temp.css">
</head>


<body>
    <div class="header">Moview</div>

    <div class="activity">
        <div class="activity-header">
            <div class="activity-header-title">
                <h3>내 활동</h3>
            </div>
            <ul class="activity-header-type">
                <li class="activity-tab rating-box">
                    별점
                </li>
                <li class="activity-tab review-box">
                    리뷰
                </li>
                <li class="activity-tab like-box">
                    좋아요
                </li>
            </ul>
        </div>
    </div>

    <script type="text/javascript" src="../assets/js/myPage_temp.js"></script>
</body>

</html>