<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../assets/css/recent.css">
</head>

<body>
    <div class="recent">
        <div class="recent-header">
            <div class="recent-header-title">
                <h3>최근 본 영화 목록</h3>
            </div>
        </div>
        <ul class="recent-list"></ul>
    </div>
    <script type="text/javascript" src="../assets/js/recent.js"></script>
</body>

</html>