<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .out-container {
            margin: 400px auto;
            width: 300px;
        }

        .submit-container {
            display: flex;
        }
    </style>
</head>

<body>
    <div class="out-container">
        <div class="info">
            <h2>회원가입</h2>
        </div>
        <div class="submit-container">
            <div class="input-container">
                <div class="id-wrapper">
                    <input type="text" class="id-input" id="idInput" placeholder="아이디">
                </div>
                <div class="pw-wrapper">
                    <input type="text" class="pw-input" id="pwInput" placeholder="비밀번호">
                </div>
            </div>
            <button class="up-btn" id="upBtn">가입</button>
        </div>
    </div>

    <script type="text/javascript" src="../assets/js/signUp.js"></script>
</body>

</html>